# See https://www.dartlang.org/guides/libraries/private-files
# Files and directories created by pub
.dart_tool/
.packages
build/

# Test related files
# Coverage directories used by Flutter & Dart tests
logs/
coverage/
coverage_badge.svg

# Cached files
bin/cache/

# Misc
.DS_Store
